.col-sm-12 {
  border-style: solid;
}

.space {
  border-style: solid;
  border-left: none;
  border-top: none;
  max-height: 10em;
  max-width: 10em;
  min-width: 10em;
  min-height: 10em;
}

.rightborder {
  border-right: none;
}

.bottomborder {
  border-bottom: none;
}

.row {
  min-width: 300px;
}

.container {
  max-width: 500px;
  min-width: 500px;
}

.backgroundX {
  height: 100%;
  width: 100%;
  background-image: url("../img/X.png");
  background-size: 10em 10em;
}

.backgroundO {
  height: 100%;
  width: 100%;
  background-image: url("../img/O.png");
  background-size: 10em 10em;
}

.backgroundC {
  height: 100%;
  width: 100%;
  background-image: url("../img/C.gif");
  background-size: 10em 10em;
}

.interface {
  text-align: center;
  padding: 15px;
  font-size: large;
}

h1 {
  text-align: center;
  padding: 30px;
}
